.is-homepage{
    height: 726px;
    background: image-url("homepage/bg.jpg") no-repeat center 0;
}

.homepage__content{
    height: 726px;
    width: 490px;

    &.is-first{
        float: right;
    }

    &.is-second{
        float: left;
    }
}