.is-homepage{
    min-height: 726px;
    background: #172820 image-url("single/bg.jpg") no-repeat center 0;

    @include breakpoint($bp--l-up) {
        height: 726px;
        background: image-url("homepage/bg.jpg") no-repeat center 0;
    }
}

.homepage__content{
    @include cf;
    width: 100%;
    float: none;

    @include breakpoint($bp--l-up) {
        width: 490px;
        height: 726px;
    }

    &.is-first{
        @include breakpoint($bp--l-up) {
            padding: 0;
            float: right;
        }
    }

    &.is-second{
        @include breakpoint($bp--l-up) {
            float: left;
        }
    }
}