// horses list
// ====================================

.horses{
    padding: 15px;
}

.horses__title{
    color: #ecd9bf;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.horses__list{
    @include cf;
}

.horses__group{
    @include cf;
    background: image-url("horses/divider.png") no-repeat center bottom;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.horses__item{
    width: 231px;
    float: left;
    margin: 0 8px 10px 0;
    position: relative;
    cursor: pointer;

    &.is-last{
        margin-right: 0;
    }
}

.horses__item__picture{
    width: 231px;
    height: 231px;
    background: #E8D3B6;
    margin-bottom: 5px;
    padding: 3px;
}

.horses__item__info{
    padding-left: 5px;
}

.horses__item__title,
.horses__item__subtitle{
    color: #ecd9bf;
    font-style: italic;
    font-weight: normal;
}

.horses__item__title{
    font-size: 15px;
    margin-bottom: 5px;
}

.horses__item__link{
    text-decoration: none;
}

.horses__item__subtitle{
    font-size: 12px;
}

.horses__item__hover{
    height: 60px;
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 85px;
    background: rgba(232, 211, 182, .9);

    a{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 23px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .is-hover &{
        display: block;
    }
}

// horse detail
// ====================================

.horse{
    @include cf;
    padding-top: 35px;
    margin-bottom: 10px;
}

.horse__info{
    width: 530px;
    float: right;
    padding: 10px 40px;
    color: #EDDAC0;
    font-style: italic;
    font-weight: normal;
}

.horse__title{
    font-size: 30px;
}

.horse__subtitle{
    font-size: 15px;
    margin-bottom: 15px;
}

.horse__pedigree-link{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

.horse__text{
    margin-top: 35px;
    font-size: 15px;
    background: image-url("horses/divider-detail.png") no-repeat center bottom;
    padding-bottom: 20px;
    margin-bottom: 20px;
    p{
        margin-bottom: 20px;
        line-height: 1.3em;
    }
}

.horse__buttons{
    text-align: center;
}

.horse__buttons__item{
    display: inline-block;
    margin: 0 12px;
}

.horse__buttons__link{
    display: block;
    background-color: #e7d3b5;
    color: #172721;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding: 15px 60px;
    text-decoration: none;
}

.horse__photo{
    width: 439px;
    padding: 3px;
    background: #E8D3B6;
    float: left;
    font-size: 0;
}

// photogallery at horse detail
// ====================================

.horse-gallery{
    @include cf;
}

.horse-gallery__item{
    display: inline-block;
    padding: 2px;
    background: #E8D3B6;
    font-size: 0;
    margin-right: 8px;
}

