* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    min-width: 1024px; // ipad issue
}

body{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.is-disable{
    display: none;
}

.is-hide{
    display: none;
}