.people__section{
    padding: 30px;
    color: #EDDAC0;

    @include breakpoint($bp--s-up) {
        width: 50%;
        float: left;
    }

    @include breakpoint($bp--l-up) {
        width: 100%;
        float: none;
        padding: 110px 30px 90px 30px;
    }

    &.is-first{
        @include breakpoint($bp--l-up) {
            background: image-url("people/divider.png") no-repeat center bottom;
        }
    }
}

.people__title{
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
}

.people__text{
    font-size: 15px;
    line-height: 1.2em;
    font-style: italic;
    font-weight: 300px;
}