.is-single{
    min-height: 726px;

    @include breakpoint($bp--l-up) {
        min-height: 726px;
    }
}

.page-wrapper.is-single{
    background: #172820 image-url("single/bg3.png") no-repeat center 0;
    background-attachment: fixed;
    .page{
        background: transparent image-url("single/bg2.png") repeat-y center 0;
    }
}