// slider
// ====================================

.slider-wrapper,
.slider{
    width: 300px;
    color: #fff;
    height: 300px;
    @include breakpoint($bp--s-up) {
        width: 344px;
        height: 344px;
    }
    @include breakpoint($bp--l-up) {
        width: 439px;
        height: 439px;
    }
}

.slider-wrapper{
    margin: 10px auto;
    @include breakpoint($bp--s-up) {
        margin: 20px auto;
    }
    @include breakpoint($bp--l-up) {
        margin: 15px 0 10px 25px;
    }
}

.slider{
    position: relative;
    overflow: hidden;
}

.slider__playlist{
//    height: 300px;
    width: 20000em;
    position: relative;
    list-style: none;
    left: 0;

    @include breakpoint($bp--s-up) {
//        height: 344px;
    }
    @include breakpoint($bp--l-up) {
//        height: 439px;
    }
}

.slider__playlist__item{
    float: left;
}

// slider pager
// ====================================

.slider-pager{
    text-align: center;
}

.slider-pager__item{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: image-url("slider/pager-sprite.png") no-repeat 0 -11px;
    text-indent: -999px;
    overflow: hidden;
    margin: 0 4px;

    &.is-active{
        background-position: 0 0;
    }
}

// slider text
// ====================================

.slider-text{
    padding: 20px;
    font-size: 15px;
    font-style: italic;
    color: #EDDAC0;

    @include breakpoint($bp--s-up) {
        padding: 30px;
    }

    @include breakpoint($bp--l-up) {
        padding: 25px;
    }

    p{
        font-weight: 300px;
        margin-bottom: 20px;
    }
}


.slideshow,
.slider-text{

    @include breakpoint($bp--s-up) {
       width: 50%;
        float: left;
    }
    @include breakpoint($bp--l-up) {
        width: auto;
        float: none;
    }
}

